**##day1 coading**

In [ ]:
print("This is my first day coading python")

This is my first day coading python

##LOOPS IN PYHON

In [ ]:
# Top 10 natural number ko code
for i in range(1,11):
  print(i * i *i)

1
8
27
64
125
216
343
512
729
1000

##FUNCTION IN PYTHON

In [ ]:
# declaring function to calculate square of a number
def calculate_square(length):
  return length * length

#calling a function
print("The are of first is:",calculate_square(8))
print("the are of second is:",calculate_square(10))

The are of first is: 64
the are of second is: 100

LISTS IN PYTHON

In [ ]:
fruits = ["apples", "banana", "mango", "litchi", "watermelon"]
print(fruits)

# #accessing elements from the list
# print(fruits[0]) #first index
# print(fruits[-3])
# print(fruits[2])

['apples', 'banana', 'mango', 'litchi', 'watermelon']

##SETS AND TUPLES(HOME ASSIGNMENT)

##DICTIONARY IN PYTHOON

In [ ]:
student = {
    "name" : "saroj",
    "class": 12,
    "gender": "male"
}

#accessing values frm key ina dictionary
print(student["name"])
print(student["class"])

#updating values of a particluar key in a dictionary
student["gender"] = "female"
print(student)

#Addding a new key-value pair into a dictionary
student["roll_no"] = 10
print(student)


#deleting a key-value pair from the existing dictionary
del student["class"]
print(student)

saroj
12
{'name': 'saroj', 'class': 12, 'gender': 'female'}
{'name': 'saroj', 'class': 12, 'gender': 'female', 'roll_no': 10}
{'name': 'saroj', 'gender': 'female', 'roll_no': 10}